<%- include ('partials/header.ejs') %>

<a href="/createPost">Create a New Blog Post</a>

<% if(locals.posts && locals.posts.length > 0){ %>
    <% for(let i = 0; i < locals.posts.length; i++) { %>
        <% let post = locals.posts[i]; %>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <form action="/deletePost" method="POST">
            <input type="hidden" name="postId" value="<%= i %>">
            <button type="submit">Delete Post</button>
        </form>
        <form action="/updatePost" method="GET">
            <input type="hidden" name="postId" value="<%= i %>">
            <button type="submit">Update Post</button>
        </form>
    <% } %>
<% } else{ %>
    <h2>No Blog Posts Yet</h2>
    <p>Be the first to create a blog post!</p>
<% } %>

<%- include ('partials/footer.ejs') %>
